	.hvr-reveal:before{
		border-color: white!important;
	}
	#content{
		margin-top: 0px!important;
	}
	@media (max-width: 768px){ 
		#primary-menu.style-2 {
		    background-color: transparent; 
		}
		#primary-menu{
			padding: 40px 15px 0 15px;
		}
		

		#content{
			margin-top: 0px!important;
		}
	}
	#tele-esqui{
		margin-left: 15px;
		left: 0px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') 0 0;
	}
	#parking{
		margin-left: 15px;
		left: 35px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -35px 0;
	}
	#ascensor{
		margin-left: 15px;
		left: 70px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -70px 0;
	}
	#piscina{
		margin-left: 15px;
		left: 105px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -105px 0;
	}
	#gimnasio{
		margin-left: 15px;
		left: 0px;
		top: 35px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') 0 -35px;
	}

	#guarda-esqui{
		margin-left: 15px;
		left: 35px;
		top: 35px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -35px -35px;
	}
	#mascota{
		margin-left: 15px;
		left: 70px;
		top: 35px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -70px -35px;
	}
	#toalla{
		margin-left: 15px;
		left: 105px;
		top: 35px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -105px -35px;
	}
	#cocina{
		margin-left: 15px;
		left: 0px;
		top: 70px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') 0 -70px;
	}
	#ducha{
		margin-left: 15px;
		left: 35px;
		top: 70px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -35px -70px;
	}
	#calefaccion{
		margin-left: 15px;
		left: 70px;
		top: 70px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -70px -70px;
	}
	#shopping{
		margin-left: 15px;
		left: 105px;
		top: 70px;
	    width: 35px;
	    height: 35px;
	    background: url('/img/miramarski/iconos/small/sprite-blue.png') -105px -70px;
	}
	
	@media only screen and (min-width: 991px) and (max-width: 1222px){ 
		h1.font-w800.black{
			font-size: 22px!important;
		}
		.container-image-box h2.hvr-reveal{
		    padding: 65px 15px!important;
		}
	}