
.phpdebugbar.phpdebugbar-minimized {
  display: none !important
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggle {
  float: left !important;
  margin-left: 10px !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: rgb(81, 81, 81);
}


.nav.navbar-nav.navbar-left{
  max-width: 85%;
}
.nav.navbar-nav.navbar-right{
  max-width: 14%;
  text-align: left;
}
.navbar-inverse .navbar-nav > li > a {
    padding: 7px 10px;
}
.content-importe-stripe{
  min-height: 100px;
}